h1{
    color: blue;
    font-size: 40px;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
}
b{
    color: blue;
    font-size: 40px;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
} 
